@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    transition:0.3s;
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;
}

body {
    margin:0;
    padding:0;
    position:relative;
    height:100vh;
    overflow-y:scroll;
}

a {
    color:blue;
    background: linear-gradient(to right, white, white), linear-gradient(to right, rgb(56, 74, 175), rgb(56, 74, 175));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    text-decoration:none;
}
  
a:hover,
a:focus {
    color:black;
    background-size: 0 2px, 100% 2px;
}

p {
    text-indent: 20px;
}

hr {
    width:50vw;
}

#hero {
    height:90vh;
    background:linear-gradient( rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.5)100%),url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom:-5vh;
    /*background-position: center;*/
}

.mainBody {
    padding-left:20vw;
    padding-right:20vw;
}

.mHeader {
    text-align:center;
}

.innerinnerBody {
    text-align:center;
    padding-left:10vw;
    padding-right:10vw;
}

.linkcontainer {
    text-align:center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(56, 74, 175);
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    background-size:0;
    text-decoration: none;
}

nav li img {
    padding:0px 10px;
}
  
nav li a:hover {
    background-size:0;
    color:white;
    background-color: rgb(21, 22, 109);
}
  
footer {
    clear: both;
    position: relative;
    background-color:rgb(56, 74, 175);
    bottom:0;
    text-align:center;
    color:white;
    height: 50px;
    padding-top:10px;
    margin-top: -50px;
}